<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/demo.js' %}" ></script>
   
</head>
<body>
    {% if name == 'django' %}
        <h1>Welcome! {{ name }} </h1><br>
    {% else %}
        <h2>Retry again!  {{ name }} </h2><br>
    {% endif %}
    
    <img src="{% static 'images/download.jpeg' %}" alt="sample"><br><br>
    <label id="lbl" for="">It will change</label><br>
    <input id="txt" type="text"/><br>
    <button id="btn" onclick="display()">Click Me</button><br>
</body>
</html>